.sidebar {}

.edit-input {
    border-radius: 5px 15px 15px 5px;
    padding-left: 10px;
    padding-right: 30px;

    &:focus {
        outline: none;
    }
}

.send-edit-chat-btn {
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: darkslateblue
}

.no-chat-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding: 10px 6px;

    p {
        background-color: #008b8b;
        padding: 6px 20px;
        color: white;
        font-family: ubuntu;
        border-radius: 20px;
    }
}

.position {
    position: absolute;
}

.item-container {
    // border-bottom: 1px solid rgba(0,0,0,.4);
    padding: 10px !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .09);
}

.name {
    font-size: 17px !important;
    font-weight: bold;
    font-family: ubuntu;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: rgb(226, 1, 1);
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
    margin-top: 3px;
    position: relative;

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 12px;
        font-weight: bold;
    }
}

.searchIcon {
    font-size: 20px;
}

.chatFrom {
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 25px;

    .message {
        //background-color: rgba(0,0,0,.1);
        width: auto;
        display: inline-block;
        overflow: auto;
        border-radius: 0 30px 30px 30px;
        padding: 5px 15px;
        padding-right: 5px;

        p {
            font-family: ubuntu;
            color: rgba(0, 0, 0, .6);
            text-align: left;
            display: flex;

            .editChat {
                margin-left: 3px;
                font-size: 20px;
            }
        }
    }
}

.chatTo {
    background-color: transparent;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 20px;

    .message {
        background-color: #45c8dc;
        width: auto;
        display: inline-block;
        overflow: auto;
        border-radius: 30px 0 30px 30px;
        padding: 5px 10px;
        padding-right: 10px;
        padding-left: 20px;

        p {
            font-family: ubuntu;
            color: white;
            text-align: left;
            display: flex;

            .editChat {
                margin-right: 3px;
                margin-left: 0;
                padding-left: 0;
                font-size: 20px;
                text-align: left;
            }
        }
    }
}

.chat-div {
    display: flex;
}

.chat-ui-avatar-from {
    width: 40px !important;
    height: 40px !important;
    margin-right: 6px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .3)
}


.chat-ui-avatar-to {
    width: 40px !important;
    height: 40px !important;
    margin-left: 6px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .3)
}

.no-user {
    font-family: ubuntu;
    font-weight: 300;
    font-size: 25px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        background-color: darkcyan;
        border-radius: 30px;
        padding: 5px;
        padding-left: 40px;
        padding-right: 40px;
        color: white;
    }
}

.chat-with {
    height: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, .1)
}

@media only screen and (max-width: 500px) {
    .chatFrom {
        .message {
            border-radius: 0 10px 10px 10px;
        }
    }

    .chatTo {
        .message {
            border-radius: 0 10px 10px 10px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .chat-ui-avatar-from {
        display: none;
    }

    .chat-ui-avatar-to {
        display: none;
    }

    .img {
        display: none
    }

    .no-user {
        font-size: 20px;
    }
}

.send-div {
    position: fixed;
    bottom: 30px;
    border-top: 2px solid rgba(0, 0, 0, .1);
    padding-top: 15px;
    width: 100%;
    padding-left: 0px !important;
    margin-left: 0px !important;
    outline: none;

    input {
        border: 0px solid rgba(0, 0, 0, .2);
        border-radius: 8px;
        padding: 10px;
        flex: 1
    }

    input:focus {
        outline: none;
    }

    .send-button {
        color: rgb(53, 90, 224);
        margin-top: 10px;
        margin-left: 10px;
        background: rgb(0, 196, 65);
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.23s;
    }
}

.div-top {
    background-color: rgba(66, 70, 61, 0.208) !important;
    width: 100%;
    display: flex;
    //position: fixed;
    //bottom: 10px;
}

.msg-inp {
    flex: 1;
    background: #ddd;
    border-radius: 30px 10px 10px 30px;
    padding-left: 20px;
    width: 100%;
}

.msg-inp:focus {
    outline: 0.1px solid rgba(0, 0, 200, .4);
}

.msg-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
    border-radius: 10px;
}

.msg-btn:hover {
    background: rgb(0, 180, 50);
}


.msg-div {
    display: flex;
    padding: 10px;
    // border-top: var(--border);
    // background: #eee;
    border-top: 2px solid rgba(0, 0, 0, .1);
    padding-top: 15px;
    background-color: transparent !important;
}


.msg-div * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}


.editChat {
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s;
    margin-top: 3px;
}

.editChat:hover {
    opacity: 1;
}