.overview-section {
    width: 100%;
    min-height: calc(100vh - 155px);
    display: none;
    background-color: white;
}

.overview-section.show {
    display: flex;
}


/* ==== Left overview ==== */

.left-overview,
.right-overview {
    width: 50%;
    box-sizing: border-box;
    padding: 10px 15px;
}


/* project overview */

.project-overview {
    display: flex;
    height: 57%;
    /* max-height: 370px; */
    margin-top: 20px;
}

#overview-title {
    font-size: 14px;
}

.project-title {
    width: 50%;
}

.project-title ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.project-title ul li {
    padding: 10px 0;
    border-bottom: 0.4px solid lightblue;
}

.project-title ul li:nth-child(9) {
    border-bottom: 0;
}

.project-title-div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.project-title-div p {
    font-size: 13px;
    width: 50%;
}

.project-title-div #customer {
    color: rgb(4, 151, 249);
}

.project-progress {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
}

.progress-container {
    margin-top: 20px;
}

.circle-progress {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: rgb(128, 198, 23);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-progress::before {
    position: absolute;
    content: '';
    height: 75%;
    width: 75%;
    border-radius: 50%;
    background-color: white;
}

.progress-value {
    position: relative;
    font-size: 30px;
    font-weight: 500;
}

.description-div {
    padding: 20px 0;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    flex-direction: column;
}

#description-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 20px 0;
}

.description-div p {
    font-size: 13px;
    color: gray;
}

.members-div {
    padding: 18px 10px;
}

.members-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.members-title span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#setting-icon {
    font-size: 13px;
    color: rgb(4, 151, 249);
    cursor: pointer;
}

.member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    padding-right: 2px;
}

.user-image {
    width: 35px;
    height: 35px;
    /* background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fuser%2F&psig=AOvVaw3T2pXW43D47f16oc6AVjyD&ust=1677309799368000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCIj3xojQrf0CFQAAAAAdAAAAABAE); */
    background-size: cover;
}

.member-info {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.member-left {
    display: flex;
    gap: 10px;
}

.member-name {
    font-weight: bold;
    color: rgb(4, 151, 249);
}

.cancel {
    font-size: 10px;
    color: red;
    cursor: pointer;
}

.right-overview {
    display: flex;
    flex-direction: column;
    border-left: 0.5px solid lightgray;
}

.right-overview-div-1 {
    height: 13%;
    border-bottom: 0.5px solid lightgray;
    display: flex;
}

.right-div-1-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 0 15px 0 0;
}

.open-tasks,
.days-left {
    font-size: 14px;
    font-weight: 600;
}

.open-task-per,
.days-left-per {
    font-size: 13px;
}

.open-task-line,
.days-left-line {
    width: 100%;
    height: 3.5px;
    box-shadow: 0px 0 1px rgb(0, 0, 0);
    border-radius: 3px;
}

.right-div-1-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 0 15px 0 0;
}

.right-overview-div-2 {
    height: 87%;
}

.expenses-div-container {
    height: 80px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.4PX solid lightgray;
}

.expenses-div {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.expenses-cost {
    font-weight: 500;
}

#total-expenses {
    color: gray;
    font-weight: 500;
}

#billabe-expenses {
    color: rgb(4, 151, 249);
    font-weight: 500;
}

#billed-expenses {
    color: rgb(92, 151, 2);
    font-weight: 500;
}

#unbilled-expenses {
    color: red;
    font-weight: 500;
}

@media screen and (max-width: 971px) {
    .overview-section {
        flex-direction: column;
    }
    .left-overview,
    .right-overview {
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 540px) {
    .project-overview {
        flex-direction: column;
    }
    .project-title,
    .project-progress {
        width: 100%;
        height: 50%;
    }
    .project-progress {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}